<div class="row" ng-controller="trainCtrl">
    <div class="large-10 columns">
        <h2>Your Trains ({{trains.length}})</h2>
        <table class="table table-hover">
            <thead>
            <tr>
                <th width="200px">Id</th>
                <th width="230px">Name</th>
                <!--<th width="25%">email</th>-->
                <th width="25%">Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="train in trains">
                <td><a href="#">{{train.id}}</a></td>
                <td>{{train.name}}</td>
                <td><a class="btn btn-success" ng-click="fetchTrainsList()">Edit</a>
                    <a class="btn btn-danger" ng-click="removeTrain(train.id)">Delete</a></td>
            </tr>
            </tbody>
        </table>
        <div class="small-12 large-2 columns">
            <a class="btn btn-primary" ng-click="showAddForm()" ng-hide="addFormShow">+</a>
            <a class="button large" ng-click="hideAddForm()" ng-show="addFormShow">-</a>
        </div>
    </div>
</div>
