/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

/*.table {*/
  /*background-color: #c4b3f8;*/
/*}*/

.navbar .navbar-inverse .navbar-fixed-top{
  background-color: #f83235;
}

.navbar-fixed-top {
  background-color: #f83235;
}

.navbar-inverse {
  background-color: #f83235;
  border-color: #E7E7E7;
}

.navbar-inverse .navbar-brand {
  color: #777;
}
.navbar-inverse .navbar-brand:hover,
.navbar-inverse .navbar-brand:focus {
  color: #5E5E5E;
}