<div class="row" ng-controller="ContactsCtrl">
<form ng-show="addFormShow">
    <h3>Add car</h3>
    <div class="row">
        <div class="large-6 columns">
            <label>Name:
                <input type="text" ng-model="car.name" placeholder="car name" />
            </label>
        </div>
        <div class="large-6 columns">
            <input type="submit" value="Add" class="button" ng-disabled="!car.name" ng-click="addNewCar(car)"/>
        </div>
    </div>
</form>
<div class="large-10 columns">
    <h2>Your cars ({{cars.length}})</h2>
    <table class="table table-hover">
        <thead>
            <tr>
                <th width="200px">Id</th>
                <th width="230px">Name</th>
                <!--<th width="25%">email</th>-->
                <th width="25%">Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="car in cars">
                <td><a href="#">{{car.id}}</a></td>
                <td>{{car.name}}</td>
                <td><a class="btn btn-success" ng-click="fetchCarsList()">Edit</a>
                    <a class="btn btn-danger" ng-click="removeCar(car.name)">Delete</a></td>
            </tr>
        </tbody>
    </table>
    <div class="small-12 large-2 columns">
        <a class="btn btn-primary" ng-click="showAddForm()" ng-hide="addFormShow">+</a>
        <a class="button large" ng-click="hideAddForm()" ng-show="addFormShow">-</a>
    </div>
</div>
</div>